<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tennis manager</title>
		<link rel="stylesheet" th:href="@{/styles.css}" />
	</head>
	
	<body>
	
		<h3>Player Directory</h3>
		<hr>
		
		
		<form method="POST" th:action="@{/players/save}" th:object="${player}">
			<h1>Add player to your team</h1>
			<div th:if="${#fields.hasErrors()}">
				<span class="validationError">
					Please correct the problems below and resubmit.
				</span>
			</div>
			<h3>Add new player with ...</h3>
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{playersAbility.id}" />
			<input type="hidden" th:field="*{playersStat.id}" />
			
			<label for="name">Name: </label>
			<input type="text" th:field="*{name}" placeholder="Name"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}">Name error</span>
			<br/>
			
			<label for="age">Age: </label>
			<input type="number" th:field="*{age}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('age')}"
				th:errors="*{age}">Age error</span>
			<br/>
			
			<label for="playersAbility.power">Power(10-99): </label>
			<input type="number" th:field="*{playersAbility.power}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('playersAbility.power')}"
				th:errors="*{playersAbility.power}">Power error</span>
			<br/>
			
			<label for="playersAbility.speed">Speed(10-99): </label>
			<input type="number" th:field="*{playersAbility.speed}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('playersAbility.speed')}"
				th:errors="*{playersAbility.speed}">Speed error</span>
			<br/>
			
			<label for="playersAbility.skill">Skill(10-99): </label>
			<input type="number" th:field="*{playersAbility.skill}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('playersAbility.skill')}"
				th:errors="*{playersAbility.skill}">Skill error</span>
			<br/>
			
			<label for="playersAbility.skillOnGrass">SkillOnGrass(10-99): </label>
			<input type="number" th:field="*{playersAbility.skillOnGrass}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('playersAbility.skillOnGrass')}"
				th:errors="*{playersAbility.skillOnGrass}">SkillOnGrass error</span>
			<br/>
			
			<label for="playersAbility.skillOnHard">SkillOnHard(10-99): </label>
			<input type="number" th:field="*{playersAbility.skillOnHard}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('playersAbility.skillOnHard')}"
				th:errors="*{playersAbility.skillOnHard}">SkillOnHard error</span>
			<br/>
			
			<label for="playersAbility.skillOnClay">SkillOnClay(10-99): </label>
			<input type="number" th:field="*{playersAbility.skillOnClay}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('playersAbility.skillOnClay')}"
				th:errors="*{playersAbility.skillOnClay}">SkillOnClay error</span>
			<br/>
			
			<label for="playersAbility.skillIndoor">SkillIndoor(10-99): </label>
			<input type="number" th:field="*{playersAbility.skillIndoor}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('playersAbility.skillIndoor')}"
				th:errors="*{playersAbility.skillIndoor}">SkillIndoor error</span>
			<br/>
			<input type="submit" value="Submit player"/>
		</form>
		
		<hr>
		<a th:href="@{/players/list}">Back to Players List</a>
	</body>
</html>