<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<title>Player Directory</title>
</head>

<body>

<div class="container">

	<h3>Player Directory</h3>
	<a th:href="@{/}">Back to Home</a>
	<hr>
	<a th:href="@{/match/play}">Play Match</a>
	<hr>
	<a th:href="@{/tournament/play}">Play Tournament</a>
	<hr>
	<!-- Add a search form -->

	<form action="#" th:action="@{/players/search}"
		  method="GET" class="form-inline">	

		<!-- Add a button -->
		<a th:href="@{/players/add}"
			class="btn btn-primary btn-sm mb-3">
			Add Player
		</a>
	
		<input type="search"
			   name="name"
			   placeholder="Name"
			   class="form-control-sm ml-5 mr-2 mb-3" />

		<button type="submit"
				class="btn btn-success btn-sm mb-3">Search</button>
							   
	</form>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Level</th>
				<th>ELO</th>
				<th>Wins</th>
				<th>Loses</th>
				<th>titles</th>
				<th>Best on</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempPlayer : ${players}">
			
				<td th:text="${tempPlayer.name}" />
				<td th:text="${tempPlayer.age}" />	
				<td th:text="${tempPlayer.playersAbility.getLevel()}" />	
				<td th:text="${tempPlayer.playersStat.ELORating}" />
				<td th:text="${tempPlayer.playersStat.totalWins}" />
				<td th:text="${tempPlayer.playersStat.totalLoses}" />
				<td th:text="${tempPlayer.playersStat.totalTitles}" />
				<td th:text="${tempPlayer.playersAbility.getBestTwo()}" />	
				<td>
					<!-- Add "update" button/link -->
					<a th:href="@{/players/update(playerId=${tempPlayer.id})}"
					   class="btn btn-info btn-sm">
						Update
					</a>
					
					<!-- Add "delete" button/link -->					
					<a th:href="@{/players/delete(playerId=${tempPlayer.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this player?'))) return false">
						Delete
					</a>
					
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>
